.card {
  display: grid;
  grid-template-areas:
    "city website"
    "image text"
    "btn text";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  row-gap: 48px;
  column-gap: 40px;
}
.card__title {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  color: #ffffff;
  grid-area: city;
  max-width: 80%;
}
.card__image {
  width: 100%;
  object-fit: cover;
  grid-area: image;
}
.card__text {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
  grid-area: text;
}
.card__paragraph {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  color: #ffffff;
}

.card__button {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  background: #0278fe;
  border-radius: 4px;
  color: white;
  padding: 13px 20px;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  grid-area: btn;
  max-width: 248px;
  max-height: 48px;
  text-align: center;
  box-sizing: border-box;
}
.card__artist {
  grid-area: website;
  align-self: end;
}
.card__name {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
}
.card__heading {
  margin: 0 0 8px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #aaaaaa;
}

@media screen and (min-width: 1280px) {
  .card__button:hover {
    background: #0063d2;
    cursor: pointer;
  }
}
@media screen and (max-width: 900px) {
  .card {
    column-gap: 28px;
  }
  .card__title {
    font-size: 42px;
    max-width: 100%;
  }
  .card__paragraph {
    font-size: 16px;
  }
}
@media screen and (max-width: 699px) {
  .card {
    grid-template-areas:
      "city"
      "website"
      "image"
      "text"
      "text"
      "btn";
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 30px;
    width: 100%;
  }
  .card__title {
    justify-self: start;
    margin-left: max(5vw, 16px);
    margin-right: max(5vw, 16px);
    font-size: 32px;
    line-height: 1.09;
  }
  .card__text {
    margin-left: max(5vw, 16px);
    margin-right: max(5vw, 16px);
  }
  .card__artist {
    justify-self: start;
    margin-left: max(5vw, 16px);
    margin-right: max(5vw, 16px);
  }
  .card__image {
    object-fit: cover;
    width: calc(100vw - 5px);
  }
  .card__button {
    min-width: 288px;
  }
}
