.cover {
  background: url(../images/cover__background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-blend-mode: darken;
  max-width: 1184px;
  min-height: 740px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.cover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2a2c2f;
  opacity: 0.3;
  z-index: -1;
}

.cover__box {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  align-items: center;
}

.cover__title {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #fffdfd;
}
.cover__subtitle {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
}
.cover__break-space {
  display: block;
}

.cover__button {
  background: #0278fe;
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  color: white;
  padding: 13px 20px;
  font-size: 18px;
  line-height: 1.5;
  text-decoration: none;
  max-width: 137px;
  text-align: center;
  align-self: center;
}

.cover:hover::after {
  opacity: 0.8;
}
.cover__button:hover {
  background: #0063d2;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .cover {
    min-height: 748px;
  }
}
@media screen and (max-width: 699px) {
  .cover {
    background-size: contain;
    width: 100%;

    min-height: max(79vw, 254px);
  }
  .cover__box {
    gap: 16px;
  }
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
  }
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
  }
}
