.footer {
  padding-top: 92px;
  padding-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}
.footer__copyright {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: min(92px, 11.4vw) 0 24px;
  }
}
@media screen and (max-width: 699px) {
  .footer {
    padding: min(88px, 20vw) 0 24px;
  }
}
