.intro {
  margin: 92px auto 118px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 984px;
}
.intro__title {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  color: #ffffff;
  max-width: 785px;
}
.intro__qoute {
  margin: 40px 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.42;
  color: #ffffff;
  max-width: 720px;
}
.intro__qoute-name {
  margin: 10px 0 0;
  justify-self: flex-end;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.42;
  text-align: right;
  color: #ffffff;
  max-width: 720px;
}
.intro__text {
  margin: 32px 0 0;
  font-size: 16px;
  line-height: 1.63;
  max-width: 720px;
}

@media screen and (max-width: 900px) {
  .intro {
    margin-top: 90px;
    margin-left: 4px;
    margin-bottom: max(88px, 11.4vw);
    max-width: 720px;
  }
}
@media screen and (max-width: 699px) {
  .intro {
    margin-top: min(90px, 20vw);
    max-width: max(90vw, 288px);
    margin-left: auto;
    margin-right: auto;
    min-width: calc(100% - 16px);
    margin-bottom: min(28vw, 118px);
  }
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
  .intro__qoute {
    line-height: 1.25;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
  .intro__qoute-name {
    max-width: 90vw;
  }
  .intro__text {
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
}
