.intro {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 92px;
  margin-left: 11vw;
  margin-right: auto;
  max-width: 61vw;
  min-width: 720px;
}
.intro__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  color: #ffffff;
}
.intro__qoute {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.42;
  color: #ffffff;
  margin-top: 40px;
  max-width: 90%;
}
.intro__qoute-name {
  justify-self: flex-end;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.42;
  text-align: right;
  margin-top: 10px;
  color: #ffffff;
  max-width: 95%;
}
.intro__text {
  font-size: 16px;
  line-height: 1.63;
  margin-top: 32px;
  width: 90%;
  margin-bottom: 118px;
}
@media screen and (max-width: 900px) {
  .intro {
    margin-left: auto;
    margin-top: 90px;
  }
}
@media screen and (max-width: 699px) {
  .intro {
    margin-top: min(90px, 20vw);
    max-width: 90vw;
    margin-left: 16px;
    margin-right: 16px;
    min-width: calc(100% - 16px);
  }
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
    max-width: 90vw;
    margin-left: 16px;
    margin-right: 16px;
  }
  .intro__qoute {
    font-size: 24px;
    line-height: 1.25;
    max-width: 90vw;
    margin-left: 16px;
  }
  .intro__qoute-name {
    font-size: 24px;
    max-width: 90vw;
    margin-left: 16px;
    margin-right: 16px;
  }
  .intro__text {
    font-size: 16px;
    line-height: 1.63;
    max-width: 90vw;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: min(28vw, 118px);
  }
}
