.lead {
  margin: 0 auto 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 984px;
  min-width: 900px;
}

.lead__title {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  color: #ffffff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 793px;
}
.lead__subtitle {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  margin-top: 32px;
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}
.lead__image {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 900px) {
  .lead {
    min-width: 100%;
  }
  .lead__title {
    max-width: min(793px, 93.7vw);
  }
  .lead__subtitle {
    margin-bottom: max(36px, 5vw);
  }
}
@media screen and (max-width: 699px) {
  .lead {
    max-width: 0.9vw;
  }
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
  }
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    margin: max(16px, 5vw) auto max(40px, 12.5vw);
  }
}
