@media screen and (min-width: 1280px) {
  .card__button:hover {
    background: #0063d2;
    cursor: pointer;
  }
  .cover:hover {
    background-color: rgba(42, 44, 47, 0.8);
  }
  .cover__button:hover {
    background: #0063d2;
    cursor: pointer;
  }
}

@media screen and (max-width: 900px) {
  .lead {
    min-width: 100%;
  }
  .intro {
    margin-left: auto;
    margin-top: 90px;
  }

  .places {
    max-width: 93%;
    gap: 72px;
  }
  .card {
    column-gap: 28px;
  }
  .card__title {
    font-size: 42px;
    max-width: 100%;
  }
  .card__paragraph {
    font-size: 16px;
    line-height: 1.63;
  }
}
@media screen and (max-width: 810px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .intro {
    min-width: 699px;
  }
  .footer {
    padding: min(92px, 11.4vw) 0 24px;
  }
}

@media screen and (max-width: 699px) {
  .logo {
    padding-top: min(32px, 6vw);
    width: min(270px, 62.5vw);
    margin-bottom: min(90px, 15.6vw);
  }
  .lead {
    max-width: 0.9vw;
  }
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
  }
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
  }
  .intro {
    margin-top: min(90px, 20vw);
    max-width: 90vw;
    margin-left: 16px;
    margin-right: 16px;
    min-width: calc(100% - 16px);
  }
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
    max-width: 90vw;
    margin-left: 16px;
    margin-right: 16px;
  }
  .intro__qoute {
    font-size: 24px;
    line-height: 1.25;
    max-width: 90vw;
    margin-left: 16px;
  }
  .intro__qoute-name {
    font-size: 24px;
    max-width: 90vw;
    margin-left: 16px;
    margin-right: 16px;
  }
  .intro__text {
    font-size: 16px;
    line-height: 1.63;
    max-width: 90vw;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: min(28vw, 118px);
  }
  .photo-grid {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
  }
  .places {
    margin-top: min(92px, 19vw);
  }
  .card {
    grid-template-areas:
      "city"
      "website"
      "image"
      "text"
      "text"
      "btn";
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 30px;
    width: 100%;
  }
  .card__title {
    justify-self: start;
  }
  .website {
    justify-self: start;
  }
  .card__image {
    object-fit: cover;
  }
  .card__button {
    max-width: 288px;
  }
  .cover {
    background-size: contain;
    min-height: 0;
  }
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
  }
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
  }
  .footer {
    padding: min(88px, 20vw) 0 24px;
  }
}
