.photo-grid {
  display: grid;
  list-style-type: none;
  width: min(92.5vw, 1184px);
  margin: 0 auto 0;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  row-gap: 16px;
  column-gap: 16px;
}
.photo-grid__item {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 900px) {
  .photo-grid {
    width: min(93.5vw, 720px);
  }
}

@media screen and (max-width: 699px) {
  .photo-grid {
    gap: 12px;
  }
}
